* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 6fr;
  height: 100svh;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 3fr 6fr;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.search {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.greeting {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.projects-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 4rem 1fr;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(auto-fill, 300px);
}

.announcements-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 4rem 1fr;
}

.announcements-content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.trending-container {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  display: grid;
  grid-template-rows: 4rem 1fr;
}

.trending-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(8, 1fr);
}

.icon-1 {
  grid-column: 1/ 2;
  grid-row: 1/3;
}

.icon-2 {
  grid-column: 1/ 2;
  grid-row: 3/5;
}

.icon-3 {
  grid-column: 1/ 2;
  grid-row: 5/7;
}

.icon-4 {
  grid-column: 1/ 2;
  grid-row: 7/9;
}
