* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  --bg-color-sidebar: #ee6352;
  --bg-color-header: #08b2e3;
  --font-color-white: #fff;
  --padding-sidebar: 1rem;
  --padding-header: 2rem;
}

body {
  background-color: rgb(240, 240, 240);
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 6fr;
  height: 100svh;
}

.header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  padding: var(--padding-header);
  background-color: var(--bg-color-header);
  color: var(--font-color-white);
  gap: 1.2rem;
  box-shadow: 0 8px 30px -10px rgba(0, 0, 0, 0.3);
}

input {
  border: none;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  padding: 7px;
  font-size: 14px;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  padding: var(--padding-sidebar);
  background-color: var(--bg-color-sidebar);
  color: var(--font-color-white);
  font-size: 1.5rem;
  font-weight: 500;
  align-content: start;
  gap: 60px;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
  gap: 50px;
}

.search {
  display: grid;
  grid-template-columns: 50px 800px 50px 50px 1fr;
  gap: 10px;
}

.search > .material-symbols-rounded {
  cursor: pointer;
  justify-self: center;
}

.search .apple-logo {
  width: 25px;
  height: 25px;
  justify-self: center;
}

.search p {
  font-size: 1.5rem;
  font-weight: 700;
}

.search,
.greeting {
  align-items: center;
}

.greeting {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 10px;
  align-items: center;
}

.logo-title {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-self: start;
  gap: 20px;
}

.greeting .apple-logo {
  width: 60px;
  height: 60px;
}

.buttons {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 12px;
}

.buttons > button {
  border: none;
  border-radius: 10px;
  padding: 7px;
  height: 30px;
}

.projects-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 4rem 1fr;
  gap: 40px;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 440px);
  grid-template-rows: repeat(auto-fill, 250px);
  gap: 40px;
}

article {
  display: grid;
  align-items: start;
  gap: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-left: 12px solid rgb(255, 196, 0);
}

.announcements-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 4rem 1fr;
}

.announcements-content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.trending-container {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  display: grid;
  grid-template-rows: 4rem 1fr;
}

.trending-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(8, 1fr);
}

.icon-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.icon-2 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.icon-3 {
  grid-column: 1 / 2;
  grid-row: 5 / 7;
}

.icon-4 {
  grid-column: 1 / 2;
  grid-row: 7 / 9;
}

.dashboard-title,
.content-navigation,
.user-account {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-content: start;
  align-items: center;
  gap: 1rem;
}

.material-symbols-rounded {
  color: #fff;
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a .material-symbols-rounded {
  color: #000;
}
