* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 6fr;
  height: 100svh;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: cornflowerblue;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: cadetblue;
  display: grid;
  grid-template-rows: 1fr 3fr 6fr;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
  background-color: blanchedalmond;
}
